
body {
    margin: 0;
    background-color: #ba3f88;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 80 80' width='80' height='80'%3E%3Cg fill='%23ff18ac' fill-opacity='0.4'%3E%3Cpath d='M0 0h80v80H0V0zm20 20v40h40V20H20zm20 35a15 15 0 1 1 0-30 15 15 0 0 1 0 30z' opacity='.5'%3E%3C/path%3E%3Cpath d='M15 15h50l-5 5H20v40l-5 5V15zm0 50h50V15L80 0v80H0l15-15zm32.07-32.07l3.54-3.54A15 15 0 0 1 29.4 50.6l3.53-3.53a10 10 0 1 0 14.14-14.14zM32.93 47.07a10 10 0 1 1 14.14-14.14L32.93 47.07z'%3E%3C/path%3E%3C/g%3E%3C/svg%3E");

.container {
    position: relative;
    width: 100%;
    height: 100vh;
    overflow: hidden;
}

.border-container {
    max-width: 600px;
    margin: 40px auto;
    position: relative;
    text-align: center;
}

.border-title {
    display: inline-block;
    position: relative;
    top: 15px;
    margin: 0 auto;
    padding: 0 10px;
    font-family: "chelsea-market-script", sans-serif;
    font-size: 5em;
    color:#ffffff;
    background: none;
    text-align: center;
}

.border {
    max-width: 600px;
    height: 1600px;
    margin: 15 auto;
    padding: 30px;
    background-color:aliceblue;
    border-radius: 24px;
    background: linear-gradient(to bottom, #ffe6c8, #ffd1a1);
    background-image:
        linear-gradient(white,white),
        linear-gradient(135deg, #ffc8dd, #f2b6cf, #cdb4db);
    background-origin: border-box;
    background-clip: padding-box, border-box;
    box-shadow: 0 8px 15px rgba(0,0,0,0.15);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.button {
    display: block;
    width: max-content;
    margin: 30px auto 0 auto;
    padding: 12px 25px;
    color: black;
    background-color: #ff0088;
    text-decoration: none;
    text-align: center;
    font-weight: bold;
    border-radius: 8px;
    transition: background-color 0.2s ease, transform 0.2s ease;
    font-family: "chelsea-market-script", sans-serif;
    font-size: 1.5em;
}

.button:hover {
    transform: scale(1.1);
    box-shadow: 0 8px 15px rgba(0,0,0,0.3);
}

.closet {
    max-width: 800px;
    margin: 40px auto 60px auto;
    padding: 30px;
    background-color:burlywood;
    border: 8px solid #b5651d;
    border-radius: 0px;
    box-shadow: 0 15px 30px rgba(0,0,0,0.15);
    box-sizing: border-box;
    outline: 3px solid #b5651d;
    outline-offset: -14px;
    
    background-image:
        linear-gradient(white, white),
        repeating-linear-gradient(
            90deg,
            rgba(0,0,0,0.03),
            rgba(0,0,0,0.03) 2px,
            transparent 2px
            transparent 40px
        );
    background-blend-mode: overlay;
}

.shelf {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    padding: 20px;
    background-color: burlywood;
    border-radius: 8px;
    margin-top: 20px;

    background: linear-gradient(to bottom, #f5ddea, #eec3d9);
    border-radius: 12px;
    box-shadow: inset 0 -4px 0 rgba(0,0,0,0.1);
}

.item {
    width: 140px;
    height: 140px;
    border-radius: 10px;
    display: grid;
    place-items: center;
    cursor: pointer;
    transition: transform 0.2s ease, box-shadow 0.2s ease;
}

.item img {
    max-width: 100%;
    max-height: 100%;
    border-radius: 8px;
}

.item:hover {
    transform: scale(1.1);
    box-shadow: 0 8px 15px rgba (0,0,0,0.3);
}

.answer-text {
    font-family: "adriane", serif;
    font-weight: 400;
    font-style: italic;
    font-size: 1em;
    color:black;
    text-align: left;
    line-height: 2;
}

summary {
    font-family: "chelsea-market-script", sans-serif;
    font-weight: 400;
    font-style: normal;
    text-align: center;
    margin-top: 40px;
    font-size: 25px;
    color:#ff0088;
}

h1 {
    font-family: "chelsea-market-script", sans-serif;
    font-weight: 400;
    font-style: normal;
    text-align: center;
    margin-top: 40px;
}
