* {
    box-sizing:border-box;
}

body{
    margin:0;
    cursor:none;
}

.cursor{
    position:absolute;
    width:20px;
    height:20px;
    background-color:#EBBBC5;
    border-radius:50%;
    pointer-events:none;
    transform:translate(-50%,-50%);
    z-index:9999;
}

.cursor-trail{
    position:absolute;
    border-radius:50%;
    pointer-events:none;
    transform:translate(-50%,-50%);
    z-index:9999;
}

.sidebar{
    position:fixed;
    top:0;
    left:0;
    width:25%;
    height:100vh;
    background:#E2EDEB;
    opacity:50%;
    padding:20px;
}

.menu{
    display:flex;
    flex-direction:column;
    gap:15px;
    margin-top:40px;
}

.main-content{
    position:relative;
    width:75%;
    height:100vh;
    margin-left:25%;
    padding:40px;
    background:#c2c982;
}

.page{
    position:absolute;
    top:0;
    left:0;
    width:100%;
    height:100%;
    opacity:0;
    pointer-events:none;
    visibility:hidden;

    transition:opacity 0.4s ease;
}

.page.active{
    opacity:1;
    visibility:visible;
    pointer-events:auto;
}

.work-grid{
    display:grid;
    /* grid-template-columns:repeat(3, 1fr); */
    gap:20px;
}

.thumbnail{
    width:auto;
    transition:transform 0.2 ease;
}

.thumbnail:hover{
    transform:scale(1.05);
}

.project{
    display:none;
}

.project.active{
    display:block;
}

.background-img{
    position:relative;
    width:100%;
    height:100%;
    overflow:hidden;
}

.background{
    width:100%;
    height:100%;
    object-fit:cover;
}

/* .container{
    position:relative;
    width:100%;
    height:100vh;
    overflow:hidden;
} */

/* .enter-btn{
    font-family: "chelsea-market-script", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size:60px;
    width:200px;
    background:transparent;
    color:#adb447;
    border:none;
    cursor:none;
    border-radius:30px;
    position:absolute;
    overflow:visible;
    left:50%;
    transform:translate(-50%);
    bottom:70px;    
}

.enter-btn:hover{
    transform: translateX(-50%) scale(1.05);
}

.flower{
    position:absolute;
    width:12px;
    height:12px;
    pointer-events:none;
    z-index:9999;
    animation:floatUp 1s ease-out forwards;
    background:#ffb6c1;
    border-radius:50%;
    box-shadow:
        6px 0 #ffb6c1,
        -6px 0 #ffb6c1,
        0 6px #ffb6c1,
        0 -6px #ffb6c1;
}

@keyframes floatUp{
    0%{
        transform:translate(0.0) scale(1);
        opacity:1;
    }
    100%{
        transform:translate(var(--x), var(--y)) scale(0.5);
        opacity:0;
    }
} */



