body {
    background-color:#a092fd;
    font-size:25px;
}
p {
    background-color:rgba(250, 170, 214, 0.447);
    font-size: 16px;
    /* border is a shorthand property for border-width, border-style, border-color */
    border: 10px dashed rgb(255, 0, 157);
    text-align:right;
    padding:20px 60px 20px 60px;
    margin: 50px;
}

h1 {
    color:rgb(255, 67, 170);
    text-align:center;
    padding-top:30px;
    padding-right:60px;
}

.special {
    background-color:rgb(250, 148, 189);
}

.center-text {
    text-align:center;
    font-size:100px;
    border-radius:100px;